<section id="aboutUs">
    <div class="container">
        <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-8 col-sm-offset-2">
                    <h2>About Us</h2>
                    <p>To share our happiness on the auspicious day we request the honour of your presence in the wedding of</p>
                </div>
            </div>
        </div>
        <div class="row feature design">
            <div class="col-md-4">
                <h3>Groom</h3>
                <p>Son of Shobha and Hariom Choubey ji.</p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/feature-img-1.png" alt="" width="100%">
            </div>
            <div class="col-md-4">
                <h3>Bride</h3>
                <p>Daughter of Mamta and Anil Sharma ji.</p>
            </div>
        </div>

    </div>

</section>