<section id="aboutUs">
    <div class="container">
        <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-8 col-sm-offset-2">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
                </div>
            </div>
        </div>
        <div class="row feature design">
            <div class="col-md-4">
                <h3>Bride</h3>
                <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus
                    efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt. Nec et jority have suffered alteration. </p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/feature-img-1.png" alt="" width="100%">
            </div>
            <div class="col-md-4">
                <h3>Groom</h3>
                <p>Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No
                    soleat fabulas prodesset vel, ut quo solum dicunt. Nec et amet vidisse mentitumsstie percipitoleat fabulas. </p>
            </div>
        </div>

    </div>

</section>