<section id="work" class="page-section page">
    <div class="container text-center">
        <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="row">
                <div class="text-center col-sm-8 col-sm-offset-2">
                    <h2>Our Gallery</h2>
                    <p>Here are some wonderful moments that both families have cherished in the making of this wonderful new relationship</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="portfolio">
                    <ul class="items list-unstyled clearfix animated fadeInRight showing" data-animation="fadeInRight" style="position: relative; height: 438px;">
                        <li class="item branding" style="position: absolute; left: 0px; top: 0px;">
                            <a href="../../../assets/images/work/1.jpg" class="fancybox"> <img src="../../../assets/images/work/1.jpg" alt="">
                                <div class="overlay"> <span>New beginning</span> </div>
                            </a>
                        </li>
                        <li class="item photography" style="position: absolute; left: 292px; top: 0px;">
                            <a href="../../../assets/images/work/2.jpg" class="fancybox"> <img src="../../../assets/images/work/2.jpg" alt="">
                                <div class="overlay"> <span>Siblings together</span> </div>
                            </a>
                        </li>
                        <li class="item branding" style="position: absolute; left: 585px; top: 0px;">
                            <a href="../../../assets/images/work/3.jpg" class="fancybox"> <img src="../../../assets/images/work/3.jpg" alt="">
                                <div class="overlay"> <span>Brothers</span> </div>
                            </a>
                        </li>
                        <li class="item photography" style="position: absolute; left: 877px; top: 0px;">
                            <a href="../../../assets/images/work/4.jpg" class="fancybox"> <img src="../../../assets/images/work/4.jpg" alt="">
                                <div class="overlay"> <span>Mandatory selfie</span> </div>
                            </a>
                        </li>
                        <li class="item photography" style="position: absolute; left: 0px; top: 219px;">
                            <a href="../../../assets/images/work/5.jpg" class="fancybox"> <img src="../../../assets/images/work/5.jpg" alt="">
                                <div class="overlay">Samdhans<span></span> </div>
                            </a>
                        </li>
                        <li class="item web" style="position: absolute; left: 292px; top: 219px;">
                            <a href="../../../assets/images/work/6.jpg" class="fancybox"> <img src="../../../assets/images/work/6.jpg" alt="">
                                <div class="overlay"> <span>Most wanted duo</span> </div>
                            </a>
                        </li>
                        <li class="item photography" style="position: absolute; left: 585px; top: 219px;">
                            <a href="../../../assets/images/work/7.jpg" class="fancybox"> <img src="../../../assets/images/work/7.jpg" alt="">
                                <div class="overlay"> <span>Lovely ladies</span> </div>
                            </a>
                        </li>
                        <li class="item web" style="position: absolute; left: 877px; top: 219px;">
                            <a href="../../../assets/images/work/8.jpg" class="fancybox"> <img src="../../../assets/images/work/8.jpg" alt="">
                                <div class="overlay"> <span>Family</span> </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>