<section id="contactUs" class="contact-parlex">
    <div class="parlex-back">
        <div class="container">
            <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="row">
                    <div class="text-center col-sm-8 col-sm-offset-2">
                        <h2>Our Address</h2>
                        <p>Please join us and make the event successful with you presence and blessings.</p>
                    </div>
                </div>
            </div>
            <div class="row mrgn30">
                <div class="col-md-3">
                    <div class="col">
                        <h4>Contact us</h4>
                        <ul>
                            <li>Near St Joseph School, Ganj Basoda</li>
                            <li>Phone: +91-9589993837 </li>
                            <li>Email: <a href="mailto:rohitc.choubey@gmail.com" title="Email Us">rohitc.choubey@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe width="100%" height="650" frameborder="0" style="border:0" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJAcL8gRlYeTkRBzskoIZ1g68&key=AIzaSyAalonooWf5W3WVFyZVgoptmJ2oWhMFRos"></iframe>
            </div>
        </div>
        <!--/.container-->
    </div>
</section>